<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="iTOLEDO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <connectionStrings>
    <!--India Connection String-->
    <!--<add name="x3v6Entities" connectionString="metadata=res://*/Models.ShippingManager.csdl|res://*/Models.ShippingManager.ssdl|res://*/Models.ShippingManager.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.5.241;initial catalog=x3v6;persist security info=True;user id=sa;password=2wvcDW8j;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--NY connection String-->
    <add name="x3v6Entities" connectionString="metadata=res://*/Models.ShippingManager.csdl|res://*/Models.ShippingManager.ssdl|res://*/Models.ShippingManager.msl;provider=System.Data.SqlClient;provider connection string='data source=192.168.1.7\x3v6;initial catalog=&quot;Shipping Manager&quot;;persist security info=True;user id=etl_admin;password=d0ntl00k;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <userSettings>
    <iTOLEDO.Properties.Settings>
      <setting name="PortName" serializeAs="String">
        <value>COM9</value>
      </setting>
      <setting name="BaudRate" serializeAs="String">
        <value>9600</value>
      </setting>
      <setting name="Parity" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="DataBit" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="StopBit" serializeAs="String">
        <value>One</value>
      </setting>
      <setting name="Handshak" serializeAs="String">
        <value>None</value>
      </setting>
    </iTOLEDO.Properties.Settings>
  </userSettings>
</configuration>
